body {
    background-color:#659dbd;
}

p {
    color: #ffffff;
    font-weight: 400;
}

#timer {
    text-align: right;
}

#quizArea, #userScoreArea, #questionsArea {
    text-align: center;
}

button {
    background-color: #e8a87c;
    color: #ffffff;
    border-radius: 4px;
    margin: 2px;
}